.aside-country-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flag {
    max-width: 50px;
}

.values-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-width: 20%;
}